@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');

@main-color: #ffb222;
@background: rgba(255, 255, 255, 0.911);
@background-secondary: #d9d9d9;
@font-color: #333333;
@accept-color: #16d475;
@cancel-color: #e42c2c;
@transparent-background: rgba(0, 0, 0, 0.603);
@border-color: darken(@main-color, 35%);

@keyframes success-msg {
    0% {
        top: -100px;
        opacity: 0;
    }
    100% {
        top: -10px;
        opacity: 1;
    }
}

.btn-standard(@background-color, @border-color, @font-color) {
    background-color: @background-color;
    border: 0;
    color: @font-color;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 25px;
    text-align: center;
    font-weight: 500;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: background-color 0.5s ease;
    &:hover {
        background-color: darken(@background-color, 10%);
    }
}
html {
    font-weight: 300;
    font-size: 16px;
    color: @font-color;
}
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
        padding: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        width: 15px;
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

body {
    padding: 0;
    margin: 0;
    background-color: @background;
    overflow: hidden;

    .user-image {
        display: block;
        object-fit: cover;
        border-radius: 50%;
        transition: all 0.5s ease;
        border: 10px solid @border-color;
        background-color: #333;
    }
    #profile-settings {
        max-height: 400px;
        overflow-y: auto;
    }
    .error-msg {
        padding: 5px;
        background-color: white;
        border: 1px solid @cancel-color;
        color: @cancel-color;
        border-radius: 3px;
    }
    .success-msg {
        padding: 10px 25px;
        font-size: 2rem;
        box-shadow: 0 5px 15px -5px black;
        background-color: @accept-color;
        color: white;
        border-radius: 3px;
        animation-name: success-msg;
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(.48,.41,.51,.87);
        animation-fill-mode: forwards;
        position: fixed;
        top: -100px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        z-index: 999;
    }
    .sidebar {
        display: block;
        position: relative;
        top: 0;
        bottom: 0;
        height: 100vh;
        width: 280px;
        background-color: @main-color;
        color: @background;
        transition: all 0.5s ease;
        * {
            transition: all 0.5s ease;
        }

        .user-panel {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 25px;
            p {
                margin-bottom: 0;
                margin-top: 5px;
                &.name {
                    font-size: 30px;
                    font-weight: 500;
                }
                &.surname {
                    font-size: 20px;
                }
                &.email {
                    font-size: 15px;
                }
            }
            .user-image {
                width: 150px;
                height: 150px;
            }
        }
        .nav {
            list-style: none;
            padding: 0;
            margin: 50px 0 0 0;
            li {
                padding: 15px 25px;
                font-size: 20px;
                cursor: pointer;
                transition: background-color 0.5s ease;
                &:hover {
                    background-color: darken(@main-color, 10%);
                }
                span:last-child {
                    display: none;
                }
                &.active {
                    background-color: lighten(@main-color, 10%);
                }
                span {
                    color: @font-color;
                    pointer-events: none;
                }
            }
        }
        #collapse-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            position: absolute;
            bottom: 25px;
            right: 25px;
            font-size: 30px;
            font-weight: 700;
            cursor: pointer;
            background-color: transparent;
            border-radius: 0;
            padding: 0 3px 4px 2px;
            transition: all 0.5s ease;
            line-height: 1;
            color: @font-color;

            &:hover {
                border-radius: 50%;
                background-color: lighten(@main-color, 10%);
            }
        }
        &.collapsed {
            width: 90px;
            .user-panel {
                .user-image {
                    width: 50px;
                    height: 50px;
                    border-width: 5px;
                }
                .name,
                .surname {
                    font-size: 1rem;
                }
                .email {
                    display: none;
                }
            }
            .nav li span {
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }
            #collapse-btn {
                left: 50%;
                right: 0;
                transform: translateX(-50%) rotate(180deg);
            }
            & + .container {
                width: calc(100vw - 165px);
            }
        }
    }
    #profile-settings-page {
        margin: auto;
        align-items: center;
        display: flex;
        flex-direction: column;
        .profile-box {
            img {
                width: 200px;
                height: 200px;
                margin: 0;
            }
        }
    }
    #welcome-page {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-height: 100vh;
        overflow-y: auto;
        h1 {
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            color: @font-color;
            padding: 25px;
            background-color: @background;
            margin: 0 auto;
            display: block;
        }
        & > div {
            margin: 100px 50px 100px 50px;
            width: calc(50vw - 150px);
            &.left-box {
                left: 0;
            }
            &.right-box {
                right: 0;
            }
            h2, h3 {
                text-align: center;
                color: white;
            }
            h2 {
                margin-bottom: 0;
            }
            h3 {
                margin-top: 0;
            }
        }
        &:before {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 50vw;
            height: 100vh;
            background-color: @main-color;
            z-index: -2;
        }
        &:after {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            width: 50vw;
            height: 100vh;
            background-color: darken(@main-color, 10%);
            z-index: -2;
        }
        #daily-recipe {
            width: 100vw;
            margin: 0;
            min-height: 700px;
            max-height: 700px;
            position: relative;
            overflow: hidden;
            background-color: @font-color;
            h1 {
                z-index: 1;
                position: relative;
                padding: 25px 0;
            }
            h2 {
                color: @main-color;
                margin-top: 0;
            }
            h3 {
                color: @font-color;
                margin-top: 25px;
            }
            ul {
                max-height: 120px;
                overflow-y: auto;
            }
            p {
                padding: 15px;
                background-color: #f7f7f7;
                text-align: center;
            }
            img {
                display: block;
                width: calc(100vw + 50px);
                object-fit: cover;
                filter: blur(5px);
                position: absolute;
                z-index: 0;
                top: -10px;
                left: -25px;
                transform: translateY(-35%);
                opacity: 0.7;
            }
            .recipe-details {
                display: block;
                width: 500px;
                max-height: 400px;
                background-color: white;
                padding: 25px;
                border-radius: 5px;
                position: absolute;
                z-index: 1;
                top: calc(50% + 40px);
                left: 50%;
                transform: translate(-50%, -50%);
                box-shadow: 0 20px 40px -20px black;
            }
        }
    }
    #color-settings-page {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        .colors-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 240px;
            span {
                display: block;
                height: 100px;
                width: 100px;
                background-color: #d1d1d1;
                margin: 10px;
                border-radius: 3px;
                &.background-secondary {
                    outline: 5px solid @main-color;
                    outline-offset: -5px;
                    background-color: @background-secondary;
                }
                &.background-main {
                    background-color: @background;
                }
                &.main-color {
                    background-color: @main-color;
                }
                &.font-color {
                    background-color: @font-color;
                }
            }
        }
        #colors-settings {
            label {
                flex-direction: unset;
                align-items: center;
                justify-content: flex-end;
                margin: 5px 0;
                input {
                    margin: 0 0 0 10px;
                    &.background-secondary {
                        border: 2px solid @background-secondary;
                    }
                    &.background-main {
                        border: 2px solid @background;
                    }
                    &.main-color {
                        border: 2px solid @main-color;
                    }
                    &.font-color {
                        border: 2px solid @font-color;
                    }
                }
            }
            button {
                width: fit-content;
                margin: auto;
                margin-top: 15px;
            }
        }
    }
    #panel {
        display: flex;

        #container {
            display: flex;
            width: calc(100% - 50px);
            height: calc(100vh - 50px);
            padding: 25px;
            position: relative;
            &:before {
                content: '';
                display: block;
                position: absolute;
                z-index: -1;
                height: 100vw;
                width: calc(100% + 300px);
                border-radius: 50%;
                top: -50vw;
                left: 50%;
                transform: translate(-50%, -10%);
                background-color: @background-secondary;
            }
            .logged-info {
                display: flex;
                margin: auto;
                flex-direction: column;
                h1, h2 {
                    text-align: center;
                    margin: 0;
                }
                h1 {
                    font-size: 3rem;
                }
                h2 {
                    font-size: 2.5rem;
                    font-weight: 300;
                    margin-top: 25px;
                }
            }
            #add-food {
                background-color: @accept-color;
                border-radius: 50%;
                display: flex;
                width: 80px;
                height: 80px;
                font-size: 5rem;
                font-weight: 300;
                justify-content: center;
                align-items: center;
                position: fixed;
                bottom: 25px;
                right: 25px;
                z-index: 10;
                transform: scale(0.7);
                transition: all 0.5s ease;
                &:hover {
                    transform: scale(0.8);
                    background-color: darken(@accept-color, 10%);
                }
                &:after {
                    content: '+';
                    padding: 10px;
                    border: 4px solid white;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    height: 35px;
                    width: 40px;
                    transform: scale(0.8);
                }
            }
            #close-recipe-modal {
                background-color: @cancel-color;
                border-radius: 50%;
                display: flex;
                width: 80px;
                height: 80px;
                font-size: 5rem;
                font-weight: 300;
                justify-content: center;
                align-items: center;
                position: fixed;
                right: -80px;
                top: -60px;
                transform: scale(0.7) rotate(45deg);
                transition: all 0.5s ease;
                &:hover {
                    transform: scale(0.8) rotate(45deg);
                    background-color: darken(@cancel-color, 10%);
                }
                &:after {
                    content: '+';
                    padding: 10px;
                    border: 4px solid white;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    height: 35px;
                    width: 40px;
                    transform: scale(0.8);
                }
            }
            #ingredients {
                display: flex;
                flex-wrap: wrap;
                flex-direction: unset;
                align-items: center;
                b {
                    width: 100%;
                }
                input {
                    width: auto;
                }
                #ingredients-list {
                    width: 100%;
                    li {
                        display: flex;
                        align-items: center;
                    }
                }
                #add-ingredient {
                    display: flex;
                    font-weight: 300;
                    justify-content: center;
                    align-items: center;
                    bottom: 25px;
                    right: 25px;
                    transform: scale(0.7);
                    transition: transform 0.5s ease;
                    width: fit-content;
                    padding: 0;
                    margin-top: 5px;
                    margin-bottom: 15px;
                    &:hover {
                        transform: scale(0.8);
                    }
                    &:after {
                        font-size: 3rem;
                        content: '+';
                        padding: 10px;
                        border: 3px solid @accept-color;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        height: 25px;
                        width: 30px;
                        color: @accept-color;
                        transform: scale(0.8);
                    }
                }
                .remove-ingredient {
                    display: flex;
                    font-weight: 300;
                    justify-content: center;
                    align-items: center;
                    bottom: 25px;
                    right: 25px;
                    transform: scale(0.7);
                    transition: transform 0.5s ease;
                    width: fit-content;
                    padding: 0;
                    &:hover {
                        transform: scale(0.8);
                    }
                    &:after {
                        font-size: 3rem;
                        content: '+';
                        padding: 10px;
                        border: 3px solid @cancel-color;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        height: 30px;
                        width: 30px;
                        color: @cancel-color;
                        transform: scale(0.8) rotate(45deg);
                    }
                }
            }
        }
    }
    form {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        padding: 25px;
        box-shadow: 0 10px 30px -25px black;
        background-color: @background;
        margin: auto;
        label {
            margin: 5px 0;
            display: flex;
            flex-direction: column;
            position: relative;
            b {
                letter-spacing: 1px;
            }
            input {
                margin-top: 5px;
                margin-bottom: 15px;
            }
            &.error {
                color: @cancel-color;
                input {
                    border: 1px solid @cancel-color;
                    color: @cancel-color;
                }
                input::placeholder {
                    color: @cancel-color;
                }
                &:before {
                    content: attr(data-error-msg);
                    display: block;
                    padding: 5px 10px;
                    border-radius: 3px;
                }
            }
        }
        &#registration {
            .error:before {
                background-color: @cancel-color;
                color: white;
                margin-bottom: 5px;
            }
        }
    }
    #add-recipe-modal {
        position: fixed;
        z-index: 9999;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        h2 {
            padding: 15px 25px;
            background-color: @main-color;
            margin: 0;
        }
        &:before {
            content: '';
            display: block;
            width: 100vw;
            height: 100vh;
            background-color: @transparent-background;
            position: absolute;
            z-index: -1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        textarea {
            max-height: 200px;
            overflow-y: auto;
            padding: 15px;
            color: @main-color;
            box-sizing: border-box;
            width: 100% !important;
            margin: 10px 0 25px 0;
        }
    }
    #food-recipes-page {
        width: 100%;
        overflow-y: auto;
        .recipe-box {
            display: flex;
            flex-direction: column;
            margin: 50px auto;
            width: 100%;
            max-width: 500px;
            border-right: 10px solid @main-color;
            background-color: white;
            position: relative;
            left: -95px;
            box-shadow: 0 15px 40px -25px black;
            .recipe-details {
                padding: 25px;
            }
            .box-header {
                margin: 0;
                padding: 15px 25px;
                background-color: @main-color;
                display: flex;
                align-items: center;
                button {
                    margin-left: auto;
                    text-align: center;
                    padding: 10px 15px;
                    background-color: @cancel-color;
                    margin-right: -25px;
                    transition: background-color 0.5s ease;
                    &:hover {
                        background-color: darken(@cancel-color, 10%);
                    }
                }
            }
            p,
            ul > li {
                color: #333333;
            }
            p {
                background-color: #f6f6f6;
                padding: 15px;
                text-align: center;
            }
            img {
                display: block;
                width: 120px;
                height: 120px;
                object-fit: cover;
                border: 10px solid @main-color;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                right: -190px;
                transform: translateY(-50%);
                z-index: 2;
                box-shadow: 0 15px 40px -25px black;
            }
            &:after {
                content: '';
                position: absolute;
                height: 10px;
                width: 100px;
                right: -100px;
                top: 50%;
                transform: translateY(-50%);
                background-color: @main-color;
                z-index: 1;
            }
        }
    }
    // PRZYCISKI I INPUTY
    button {
        .btn-standard(transparent, darken(@main-color, 30%), white);
        &[type="submit"] {
            .btn-standard(@accept-color, darken(@accept-color, 30%), white);
        }
    }
    input,
    textarea {
        border: 2px solid @main-color;
        padding: 10px 15px;
        border-radius: 3px;
        color: @main-color;
        background-color: white;
        outline: none;
    }
    #logout {
        position: fixed;
        z-index: 999;
        top: 25px;
        right: 25px;
        .btn-standard(@cancel-color, darken(@cancel-color, 30%), white);
    }
}

@media screen and (max-width: 769px) {
    #main {
        #welcome-page {
            background-color: @main-color;
            &:before,
            &:after {
                display: none;
            }
            .left-box,
            .right-box {
                width: 100%;
                margin: 0;
                padding: 25px 25px 50px;
                h2 {
                    margin-top: 0;
                }
            }
            .right-box {
                background-color: lighten(@main-color, 10%);
            }
            #daily-recipe {
                height: 100vh;
                max-height: 100vh;
                img {
                    height: calc(100vh + 50px);
                    transform: translateY(-25px);
                    filter: none;
                }
                .recipe-details {
                    width: calc(100vw - 100px);
                }
            }
        }
        #panel {
            height: 100vh;
            #container {
                width: 100vw;
                #add-recipe-modal {
                    width: calc(100% - 20px);
                }
                &:before {
                    position: fixed;
                }
                .recipe-box {
                    border-right: 0;
                    width: calc(100% - 20px);
                    left: 0;
                    display: grid;
                    grid-template-rows: auto auto auto;
                    img {
                        position: relative;
                        grid-row-start: 2;
                        top: 0;
                        left: 50%;
                        right: 0;
                        margin-top: 25px;
                        box-shadow: none;
                        transform: translateX(-50%);
                    }
                    h3 {
                        margin: 5px 0;
                    }
                    .box-header {
                        padding: 5px 10px;
                        grid-row-start: 1;
                        button {
                            margin-right: 0;
                        }
                    }
                    &:after {
                        display: none;
                    }
                }
            }
        }
        .sidebar {
            position: fixed;
            display: block;
            width: 80vw;
            height: 80vh;
            left: 50%;
            top: auto;
            bottom: 25px;
            z-index: 999;
            overflow: hidden;
            opacity: 1;
            transform: translateX(-50%);
            .nav {
                li {
                    text-align: center;
                }
            }
            #collapse-btn {
                transform: translateX(-50%) rotate(225deg);
                left: 50%;
                bottom: 30px;
                &::selection {
                    display: none;
                    background-color: transparent;
                }
                span:not(.mobile) {
                    display: none;
                }
                .mobile {
                    display: block;
                    & > span {
                        display: block;
                        height: 5px;
                        width: 30px;
                        background-color: white;
                        margin: 3px;
                        position: relative;
                        &.line-2 {
                            right: -50px;
                            opacity: 0;
                            z-index: -999;
                            pointer-events: none;
                        }
                        &.line-1, &.line-3 {
                            position: absolute;
                            top: calc(50% - 3px);
                            left: calc(50% - 3px);
                            transform: translate(-50%, -50%);
                        }
                        &.line-1 {
                            transform: translate(-50%, -50%) rotate(90deg);
                        }
                    }
                }
            }
            &.collapsed {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                #collapse-btn {
                    bottom: 25px;
                    transform: translate(-50%, 40%) rotate(0);
                    .mobile {
                        display: block;
                        & > span {
                            transition: all 0.5s ease;
                            display: block;
                            height: 5px;
                            width: 30px;
                            background-color: white;
                            margin: 3px;
                            transition: all 0.5s ease;
                            opacity: 1;
                            right: 0;
                            transform: none;
                            position: relative;
                            left: 0;
                            top: 2px;
                        }
                    }
                }
                .nav, .user-panel {
                    opacity: 0;
                    display: none;
                }
            }
        }
        form {
            max-width: inherit;
            width: 100%;
            max-height: calc(100vh - 200px);
            overflow-y: auto;
        }
        #profile-settings-page,
        #color-settings-page {
            width: 100%;
            label > b {
                font-size: 0.8rem;
                text-align: right;
            }
        }
        #close-recipe-modal {
            width: 100%;
            right: 0 !important;
            top: -80px !important;
        }
        #preview > canvas {
            width: 50%;
            margin: auto;
            display: block;
        }
    }
}