@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');

@main-color: #41bcff;
@background: white;
@background-secondary: #d9d9d9;
@font-color: #333333;
@accept-color: #12c56c;
@cancel-color: #f94141;
@transparent-background: rgba(0,0,0,0.75);

.btn-standard(@background-color, @border-color, @font-color) {
    background-color: @background-color;
    border: 0;
    color: @font-color;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 25px;
    text-align: center;
    font-weight: 500;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: background-color 0.5s ease;
    &:hover {
        background-color: darken(@background-color, 10%);
    }
}
html {
    font-weight: 300;
    font-size: 16px;
    color: @font-color;
}
* {
    font-family: 'Raleway', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: @background;

    .sidebar {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        height: 100vh;
        width: 280px;
        background-color: @main-color;
        color: @background;
        transition: all 0.5s ease;
        * {
            transition: all 0.5s ease;
        }

        .user-panel {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 25px;
            p {
                margin-bottom: 0;
                margin-top: 5px;
                &.name {
                    font-size: 30px;
                    font-weight: 500;
                }
                &.surname {
                    font-size: 20px;
                }
                &.email {
                    font-size: 15px;
                }
            }
            img {
                width: 150px;
                height: 150px;
                display: block;
                object-fit: cover;
                border-radius: 50%;
                transition: all 0.5s ease;
                border: 10px solid darken(@main-color, 30%);
            }
        }
        .nav {
            list-style: none;
            padding: 0;
            margin: 50px 0 0 0;
            li {
                padding: 15px 25px;
                font-size: 20px;
                cursor: pointer;
                transition: background-color 0.5s ease;
                &:hover {
                    background-color: darken(@main-color, 30%);
                }
                span:last-child {
                    display: none;
                }
                &.active {
                    background-color: lighten(@main-color, 10%);
                }
            }
        }
        #collapse-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            position: absolute;
            bottom: 25px;
            right: 25px;
            font-size: 30px;
            font-weight: 700;
            cursor: pointer;
            background-color: transparent;
            border-radius: 0;
            padding: 0 3px 4px 2px;
            transition: all 0.5s ease;
            line-height: 1;

            &:hover {
                border-radius: 50%;
                background-color: lighten(@main-color, 10%);
            }
        }
        &.collapsed {
            width: 90px;
            .user-panel {
                img {
                    width: 50px;
                    height: 50px;
                    border-width: 5px;
                }
                .name,
                .surname {
                    font-size: 1rem;
                }
                .email {
                    display: none;
                }
            }
            .nav li span {
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }
            #collapse-btn {
                left: 50%;
                right: 0;
                transform: translateX(-50%) rotate(180deg);
            }
            & + .container {
                width: calc(100vw - 165px);
            }
        }
    }
    #welcome-page {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        h1 {
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            color: @font-color;
            padding: 25px;
            background-color: @background;
            margin: 0 auto;
            display: block;
        }
        & > div {
            margin: 100px 50px 0 50px;
            width: calc(50vw - 150px);
            position: absolute;
            top: 0;
            &.left-box {
                left: 0;
            }
            &.right-box {
                right: 0;
            }
            h2, h3 {
                text-align: center;
                color: white;
            }
            h2 {
                margin-bottom: 0;
            }
            h3 {
                margin-top: 0;
            }
        }
        &:before {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 50vw;
            height: 100vh;
            background-color: @main-color;
            z-index: -1;
        }
        &:after {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            width: 50vw;
            height: 100vh;
            background-color: darken(@main-color, 10%);
            z-index: -1;
        }
    }
    .container {
        display: block;
        margin-left: auto;
        width: calc(100vw - 355px);
        padding: 25px;
        height: calc(100vh - 50px);
        transition: width 0.5s ease;
        h1 {
            margin: 0;
        }
        & > div {
            display: flex;
            justify-content: center;
            margin: 25px auto;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        padding: 25px;
        box-shadow: 0 10px 30px -25px black;
        background-color: @background;
        margin: auto;
        label {
            margin: 5px 0;
            display: flex;
            flex-direction: column;
            b {
                letter-spacing: 1px;
            }
            input {
                margin-top: 5px;
                margin-bottom: 15px;
            }
        }
    }
    // PRZYCISKI I INPUTY
    button {
        .btn-standard(transparent, darken(@main-color, 30%), white);
        &[type="submit"] {
            .btn-standard(@accept-color, darken(@accept-color, 30%), white);
        }
    }
    input {
        border: 2px solid @main-color;
        padding: 10px 15px;
        border-radius: 3px;
        color: @main-color;
        background-color: white;
        outline: none;
    }
    #logout {
        position: fixed;
        top: 25px;
        right: 25px;
        .btn-standard(@cancel-color, darken(@cancel-color, 30%), white);
    }
}